*.pyc
*.p
*.swp

out/bwauth*
out/index.html
out/graphs.html
out/vote-stats.csv
out/relay-indexes.txt
out/consensus-health*
out/download-stats.csv
out/fallback-dir-stats.csv
out/historical.db

data/historical.db

update.sh

*.orig
*.pyc
*.swp
*.swo
.editorconfig
.tox
stem-git/.idea/
stem-git/.mypy_cache/
stem-git/test/data/
stem-git/docs/_build/
