*.pyc
*.p
*.swp


out/index.html
out/graphs.html
out/vote-stats.csv
out/relay-indexes.txt
out/consensus-health*
out/download-stats.csv
out/fallback-dir-stats.csv
out/historical.db
out/out/bwauth-stats*

data/historical.db